<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WebSocket Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div id="container">
		<h1>WebSocket Chat</h1>
		<div id="chat-window">
			<div id="output"></div>
			<div id="feedback"></div>
		</div>
		<div id="inputs">
			<input id='user' type="text" name="user" placeholder="Username">
			<textarea id='message' type="text" name="message" placeholder="Message"></textarea> 
		</div>
		<button id="send">Send</button>
	</div>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'></script>
	<script type="text/javascript" src='./chat.js'></script>
</body>
</html>